<section id="one">

  <video #introVid class="intro-vid" autoplay muted loop>
    <source src="../assets/vids/digi-grapes.mp4" type="video/mp4"><!-- Safari / iOS video    -->
  </video>
  <div class="content">
    <div class="hero-banner">
      <p class="heading" id="mercury"><span>Mercury</span></p>
      <p class="heading" id="media"><span>Media</span></p>
    </div>
    <div class="banner-content">
      <p>With an unwavering commitment to innovation and storytelling, we bring you inspiring narratives that resonate
        globally. Join us on this exciting journey through the realms of media excellence, where creativity knows no
        bounds.</p>
    </div>
  </div>
</section>
<app-roll-banner></app-roll-banner>